Repository SunneV/OpenRegex: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-dev, pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

Path conditions:
  build-dev: any of: Dockerfile_dev, requirements.txt, requirements_dev.txt
  pylint-test: any of: **/*.py, **/*.cpp, **/*.java
  flake8-test: any of: **/*.py, **/*.cpp, **/*.java
  isort-test: any of: **/*.py, **/*.cpp, **/*.java
  black-test: any of: **/*.py, **/*.cpp, **/*.java
  lint-fix: any of: **/*.py, **/*.cpp, **/*.java
  pytest: any of: **/*.py, **/*.cpp, **/*.java

Release 1.2.0
  .gitlab-ci.yml
  CHANGELOG.md
  README.md
  app.py
  assets/interface_dark.png
  assets/interface_light.png
  src/utils/link.py
  static/css/base/global.css
  static/css/base/layout.css
  static/css/base/responsive.css
  static/css/components/top-bar-center.css
  static/css/components/top-bar.css
  static/css/main.css
  static/css/themes/dark.css
  static/css/themes/light.css
  static/favicon.svg
  static/js/components/actionButton.js
  static/js/main.js
  static/js/utils/regex.js
  static/logo.svg
  templates/index.html
  tests/src/utils/test_link.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

Release 1.2.1
  CHANGELOG.md
  README.md
  static/js/components/actionButton.js
  templates/index.html
Due: none

Release 1.3.0
  .gitlab-ci.yml
  CHANGELOG.md
  Dockerfile
  Dockerfile_dev
  README.md
  app.py
  project/environments.py
  src/__init__.py
  src/engine/__init__.py
  src/engine/javascript/__init__.py
  src/engine/javascript/javascript.py
  src/engine/javascript/node_regex_cli.js
  src/engine_manager.py
  static/css/base/global.css
  static/css/components/engine-selection.css
  static/favicon.svg
  static/js/components/actionButton.js
  static/js/components/engineSelector.js
  static/js/utils/regex.js
  static/logo.svg
  templates/index.html
  tests/src/engine/test_javascript.py
  tests/src/test_engine_manager.py
  tests/src/utils/test_link.py
Due: build-dev, pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

update README.md
  README.md
Due: none

feat(frontend): implement terms of service and cookie policy compliance flow
  README.md
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/package.json
  apps/openregex-frontend/src/app/App.tsx
  apps/openregex-frontend/src/app/layout/Footer.tsx
  apps/openregex-frontend/src/core/store/useTermsStore.ts
  apps/openregex-frontend/src/features/terms/components/TermsModal.tsx
  apps/openregex-frontend/src/features/terms/index.ts
  apps/openregex-frontend/tailwind.config.js
  deploy/docker-compose.dev.yml
  deploy/docker-compose.yml
  deploy/dockerfiles/openregex-frontend.dockerfile
Due: none

chore(general): update configuration and documentation
  README.md
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/src/features/terms/components/TermsModal.tsx
  deploy/docker-compose.dev.yml
  docker-compose.yml
Due: none

feat(frontend): implement robust regex token parsing and syntax highlighting
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/src/features/pattern-editor/components/RegexViewerNode.tsx
  apps/openregex-frontend/src/features/pattern-editor/utils/pattern.utils.ts
Due: none

refactor(worker-v8): clean up code structure
  workers/worker-php/CHANGELOG.md
  workers/worker-php/src/Registry.php
  workers/worker-v8/CHANGELOG.md
  workers/worker-v8/src/engines/v8_re2.js
  workers/worker-v8/src/engines/v8_standard.js
  workers/worker-v8/src/processor.js
Due: none

perf(frontend): optimize tooltip finding
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/src/features/pattern-editor/components/PatternEditor/OptimizedPatternSplitView.tsx
  apps/openregex-frontend/src/features/pattern-editor/components/PatternEditor/PatternInputArea.tsx
  apps/openregex-frontend/src/features/pattern-editor/components/PatternEditor/index.tsx
  apps/openregex-frontend/src/features/pattern-editor/components/RegexTooltip.tsx
  apps/openregex-frontend/src/features/pattern-editor/components/RegexViewerNode.tsx
Due: none

refactor(worker-jvm): update engine implementations
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_pcre2.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_posix.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_boost.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_hyperscan.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_re2.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_std.py
  workers/worker-dotnet/CHANGELOG.md
  workers/worker-dotnet/Registry.cs
  workers/worker-go/CHANGELOG.md
  workers/worker-go/registry.go
  workers/worker-jvm/src/main/java/com/openregex/engines/JvmRe2j.java
  workers/worker-jvm/src/main/java/com/openregex/engines/JvmStandard.java
  workers/worker-php/CHANGELOG.md
  workers/worker-php/src/Registry.php
  workers/worker-python/src/worker_python/engines/python_regex.py
  workers/worker-v8/CHANGELOG.md
  workers/worker-v8/src/engines/v8_re2.js
  workers/worker-v8/src/engines/v8_standard.js
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

refactor(shared-lib): update regex model to use EngineFlag instead of str
  libs/python-shared/src/openregex_libs/models/regex.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

chore(.dev): update changelog tool mapping
  .dev/py/tools/update_changelog.py
  libs/python-shared/CHANGELOG.md
  libs/python-shared/src/openregex_libs/models/llm.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

docs(shared-lib): update changelog
  libs/python-shared/CHANGELOG.md
Due: none

refactor(worker-c-cpp): expand cheat sheet and add singleline flag support
  workers/worker-c-cpp/CHANGELOG.md
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_onig.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

feat(worker-c-cpp): add tooltip and highlight support for alternation | token
  apps/openregex-frontend/src/features/pattern-editor/components/RegexTooltip.tsx
  apps/openregex-frontend/src/features/pattern-editor/components/RegexViewerNode.tsx
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_onig.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_pcre2.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/c_posix.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_boost.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_hyperscan.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_re2.py
  workers/worker-c-cpp/src/worker_c_cpp/engines/cpp_std.py
  workers/worker-dotnet/CHANGELOG.md
  workers/worker-dotnet/Registry.cs
  workers/worker-go/CHANGELOG.md
  workers/worker-go/registry.go
  workers/worker-jvm/src/main/java/com/openregex/engines/JvmRe2j.java
  workers/worker-jvm/src/main/java/com/openregex/engines/JvmStandard.java
  workers/worker-php/CHANGELOG.md
  workers/worker-php/src/Registry.php
  workers/worker-python/src/worker_python/engines/python_re.py
  workers/worker-python/src/worker_python/engines/python_regex.py
  workers/worker-v8/CHANGELOG.md
  workers/worker-v8/src/engines/v8_re2.js
  workers/worker-v8/src/engines/v8_standard.js
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

fix(frontend): implement dynamic runtime injection for ROBOTS_META via Nginx entrypoint
  apps/openregex-frontend/40-inject-robots.sh
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/vite.config.ts
  deploy/docker-compose.dev.yml
  deploy/dockerfiles/openregex-frontend.dockerfile
Due: none

chore(frontend): update version and dockerfile
  .dev/registry.py
  CHANGELOG.md
  apps/openregex-frontend/CHANGELOG.md
  apps/openregex-frontend/package.json
  deploy/dockerfiles/openregex-frontend.dockerfile
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

chore(release): support worker pyproject.toml synchronization in apply_versions tool
  .dev/py/tools/apply_versions.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

chore(general): add author, readme, urls, and metadata to pyproject.toml
  pyproject.toml
  uv.lock
Due: none

chore(backend): add author and license metadata to pyproject.toml
  apps/openregex-backend/pyproject.toml
Due: none

chore(shared-lib): add author and license metadata to pyproject.toml
  libs/python-shared/pyproject.toml
Due: none

chore(worker-python): add author and license metadata to pyproject.toml
  workers/worker-python/pyproject.toml
Due: none

chore(worker-c-cpp): add author and license metadata to pyproject.toml
  workers/worker-c-cpp/pyproject.toml
Due: none

chore(worker-ai): add author and license metadata to pyproject.toml
  workers/worker-ai/pyproject.toml
Due: none

chore(general): add root .gitignore for local artifacts and caches
  .gitignore
Due: none

fix(frontend): pass non-ASCII subject text unmodified to regex engines
  apps/openregex-frontend/src/features/subject-tester/components/SubjectEditor.tsx
  apps/openregex-frontend/src/features/subject-tester/components/SubjectEditor/SubjectInputArea.tsx
Due: none

feat(frontend): add JSON export and import of personal storage
  apps/openregex-frontend/src/core/store/useStorageStore.ts
  apps/openregex-frontend/src/features/personal/components/PersonalPanel.tsx
  apps/openregex-frontend/src/features/personal/utils/dump.ts
Due: none

feat(shared-lib): add worker schema version to worker info contract
  libs/python-shared/src/openregex_libs/models/__init__.py
  libs/python-shared/src/openregex_libs/models/regex.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

feat(frontend): show worker communication schema version in engine panel
  apps/openregex-frontend/src/core/schema.ts
  apps/openregex-frontend/src/core/types/index.ts
  apps/openregex-frontend/src/features/engine-selector/components/EnginePanel.tsx
Due: none

fix(worker-c-cpp): normalize match offsets to Unicode code point indices
  workers/worker-c-cpp/src/worker_c_cpp/engines/__init__.py
  workers/worker-c-cpp/src/worker_c_cpp/processor.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

feat(worker-python): report communication schema version 1.1
  workers/worker-python/src/worker_python/engines/__init__.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

fix(worker-go): normalize match offsets to Unicode code point indices
  workers/worker-go/models.go
  workers/worker-go/processor.go
  workers/worker-go/registry.go
Due: none

fix(worker-rust): normalize match offsets to Unicode code point indices
  workers/worker-rust/src/processor.rs
  workers/worker-rust/src/registry.rs
Due: none

fix(worker-jvm): normalize match offsets to Unicode code point indices
  workers/worker-jvm/src/main/java/com/openregex/Processor.java
  workers/worker-jvm/src/main/java/com/openregex/engines/Common.java
  workers/worker-jvm/src/main/java/com/openregex/engines/Engines.java
  workers/worker-jvm/src/main/java/com/openregex/models/Models.java
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest

fix(worker-v8): normalize match offsets to Unicode code point indices
  workers/worker-v8/src/engines/index.js
  workers/worker-v8/src/processor.js
Due: none

fix(worker-dotnet): normalize match offsets to Unicode code point indices
  workers/worker-dotnet/Models.cs
  workers/worker-dotnet/Processor.cs
  workers/worker-dotnet/Registry.cs
Due: none

feat(worker-php): report communication schema version 1.1
  workers/worker-php/src/Registry.php
Due: none

chore(release): harden update_changelog scope matching and add --yes flag
  .dev/py/tools/update_changelog.py
Due: pylint-test, flake8-test, isort-test, black-test, lint-fix, pytest
